<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.momuk.mapper.EventBoardMapper"> 

	<insert id="insertCookingtip">
        INSERT INTO cookingtip_board (bno, category, content)
        VALUES (common_board_seq.currval, #{category}, #{content})
	</insert>
	
	<select id="selectCookingtipByBno" resultType="kr.co.momuk.domain.DetailDTO">
	    SELECT cb.bno, cb.title, cb.writer, cb.regdate, cb.viewcnt, cb.replycnt, cb.uuid, cb.uploadpath, cb.filename, ct.category, ct.content
	    FROM common_board cb
	    JOIN cookingtip_board ct ON cb.bno = ct.bno
	    WHERE cb.bno = #{bno}
	</select>
	
	<update id="updateCookingtip">
		UPDATE cookingtip_board
		SET	category = #{category}, content = #{content}
		WHERE bno = #{bno}
	</update>
	
	<delete id="deleteCookingtip">
    	DELETE
		FROM cookingtip_board
		WHERE bno = #{bno}
    </delete>
    
    <select id="selectAllCookingtip" resultType="kr.co.momuk.domain.CommonBoardDTO">
    	<![CDATA[
			SELECT	bno,
					title,
					writer,
					regdate,
					viewcnt,
					replycnt,
					uuid,
					uploadpath,
					filename
			FROM	(SELECT /*+ INDEX_DESC(common_board COMMON_BOARD_BNO_PK) */
						rownum rn,
                        bno,
                        boardId,
						title,
						writer,
						regdate,
						viewcnt,
						replycnt,
						uuid,
						uploadpath,
						filename
                    FROM common_board
                    WHERE rownum <= #{pageNum} * #{amount}
                    AND boardId = 3)	
			WHERE	rn > (#{pageNum} - 1) * #{amount}
		]]>
    </select>
	
	<select id="getTotalCnt" resultType="int">
	    SELECT  count(*)
	    FROM    common_board
	    WHERE   bno > 0
	    AND		boardId = 4
	</select>
</mapper>