<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.momuk.mapper.RecipeBoardMapper"> 

	<insert id="insertRecipe">
        INSERT INTO recipe_board (bno, infotext, category, serving, difficulty, cookingtime)
        VALUES (common_board_seq.currval, #{infotext}, #{category}, #{serving}, #{difficulty}, #{cookingtime})
	</insert>
	
	<select id="selectRecipeByBno" resultType="kr.co.momuk.domain.DetailDTO">
	    SELECT cb.bno, cb.title, cb.writer, cb.regdate, cb.viewcnt, cb.replycnt, cb.uuid, cb.uploadpath, cb.filename, rb.infotext, rb.category, rb.serving, rb.difficulty, rb.cookingtime, rb.heartcnt
	    FROM common_board cb
	    JOIN recipe_board rb ON cb.bno = rb.bno
	    WHERE cb.bno = #{bno}
	</select>
	
	<update id="updateRecipe">
		UPDATE recipe_board
		SET	infotext = #{infotext}, category = #{category}, serving = #{serving}, difficulty = #{difficulty}, cookingtime = #{cookingtime}
		WHERE bno = #{bno}
	</update>
	
	<delete id="deleteRecipe">
    	DELETE
		FROM recipe_board
		WHERE bno = #{bno}
    </delete>
    
    <select id="selectAllRecipe" resultType="kr.co.momuk.domain.DetailDTO">
    	<![CDATA[
	        SELECT bno,
			       title,
			       writer,
			       regdate,
			       viewcnt,
			       replycnt,
			       uuid,
			       uploadpath,
			       filename,
			       heartcnt
	        FROM (SELECT /*+ INDEX_DESC(common_board COMMON_BOARD_BNO_PK) */
	             	   cb.bno,
	                   cb.title,
	                   cb.writer,
	                   cb.regdate,
	                   cb.viewcnt,
	                   cb.replycnt,
	                   cb.uuid,
	                   cb.uploadpath,
	                   cb.filename,
	                   rb.heartcnt
	                   rownum AS rn
	            FROM common_board cb
	            INNER JOIN recipe_board rb ON cb.bno = rb.bno
	            WHERE rownum <= #{pageNum} * #{amount}
	              AND cb.boardId = 2
	        )
	        WHERE rn > (#{pageNum} - 1) * #{amount}
	    ]]>
    </select>
	
	<select id="getTotalCnt" resultType="int">
	    SELECT  count(*)
	    FROM    common_board
	    WHERE   bno > 0
	    AND		boardId = 2
	</select>
	
</mapper>